<h1><%= @restaurant.name %></h1>

<h2><%= link_to "Add a review", new_restaurant_review_path(@restaurant) %></h2>

<h3><%= @restaurant.address %></h3>
<h3><%= @restaurant.phone_number %></h3>
<h3><%= @restaurant.category %></h3>
<br>
<br>
<ul>
  <% @restaurant.reviews.each do |review|  %>
    <li><%= review.content %></li>
  <% end %>
</ul>
